body {
    height: 180VH;
    display: flex;
    flex-flow: column;
    margin: 0%;
    background-color: #E4EDEA;
}

header {
    display: flex;
    background-image: url("https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/14666081_1749900215275288_2908395285046812758_n.jpg?oh=51f81b963dfc0e60d5f9aa336e82b9b7&oe=5AF64D18");
    background-repeat:no-repeat;
    background-size:cover;
    color: brown;
    padding: 1rem 3rem;
    font-family: 'Spectral SC', serif; 
    height: 80em;
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

aside {
    float: left;
    height: 60rem;
    width: 20rem;
    border-style: solid;
    border-width: 1px;
    border-color: #19455E;
    padding: 1rem;
    margin: 1em;
}

.words a {
    color: brown;
    text-decoration: none;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 30px;
}

.boys {
    border-image: url("https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/21768378_1908243762774265_2654180903955644819_n.jpg?oh=28e318d2db44ade7f86e237c1fed1c22&oe=5AE2F9ED");
    border-image-repeat: no-repeat;
    height: 15em;
}

.poz {
    position: absolute;
    bottom: -30em;
    border-image: url("https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/15327292_1771262549805721_3602974494130096567_n.jpg?oh=0b68e4d2592d99f95ed3e21ee65da5f7&oe=5AF12DB3");
    border-image-repeat: no-repeat;
    height: 15em;
}

section {
    float: right;
    height: 30rem;
    width: 60rem;
    padding: 1rem;
    margin: 1em;
}

.pic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 30px;
    color: #19455E;
    width: 15em;
    margin: none;
    float: left;
}

.headshot {
    border-image: url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAl_AAAAJGM4NmU1MzkzLTJlNTItNDE2My05NWI2LTA0ZTRmNjc2MzU5ZA.jpg");
    border-image-repeat: no-repeat;
    height: 15em;
    float: right;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

h3 {
    font-size: 25px;
    color: #19455E;
}

p {
    color: #19455E;
    max-width: 50rem;
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: -45em; 
    padding: 3rem;
}