body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #2D2A32;
    color: rgb(219, 213, 213);
    padding: 1rem 7rem;
    font-family: 'Spectral SC', serif;
}

h2 {
    max-height: 13px;
    font-size: 30px;
}

nav {
    background-color: rgba(2, 2, 2, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .2rem;
    height: 40px;
    width: 500px;
}

.bar {
    display: flex;
    align-items: center;
    padding: .2rem .3rem;
}

nav a {
    padding: .3rem .7rem;
    text-decoration: none;
    color: rgb(219, 213, 213);
}

.articles {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 18px;
}

p {
    padding: 1em 2em;
}

.copy {
    display: flex;
    align-content: baseline;
    padding: .2rem 7rem;
}

footer {
    position: relative;
    top: 30%;
    background-color: #2D2A32; 
    color: rgb(219, 213, 213);
}